.form_wrapper {
  margin: auto;
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  background: rgb(230, 204, 157);
  align-items: center;
  text-align: center;
  }

.login_logo {
  margin: auto;
  width: 60%;
  margin-top: 50px;
}

.loginregister > .button , .button {
  width: 100px;
  margin:10px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color:rgb(66, 209, 209);
  color: white;
  font-weight: bold;
}

.loginform {
  font-size: 1.25rem;
  
}

.fa {
  margin-right: 20px;
}
