<%- include('include/header'); %>
  <h1>Add User</h1>
    <form action="/items/add" method="POST">
        <div>
            <label for="">Item</label>
            <input type="text" name="name" placeholder="Enter your item">
        </div>
        <div>
            <label for="">color</label>
            <input type="text" name="color" placeholder="Enter your item color">
        </div>
        <div>
            <label for="">brand</label>
            <input type="brand" name="brand" placeholder="Enter your brand">
        </div>
        <div>
            <label for="">price</label>
            <input type="price" name="price" placeholder="Enter your price">
        </div>
        <div>
            <label for="">image</label>
            <input type="imagepath" name="imagepath" placeholder="Enter your image">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

</body>
</html>